server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/workflow_engine?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8&useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secret: workflow=secret=key=567331798=declan=wonderful
  expire: 3600000
